.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #95dada;
  border: 1px solid grey;
  width: calc(25% - 30px); /*25% width - ajustar margen*/
  margin: 10px;
  border-radius: 5%;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.card-container:hover {
  transform: scale(1.05);
}

.card-image {
  flex: 2;
  padding: 5px;
  /* height: 50px; */
}

.card-image img {
  width: 100%;
  height: 34vh;
  object-fit: cover;
  border-radius: 5%;
}

.card-info {
  flex: 1;
  padding: 2px;
  font-size: 11px;
}

.card-info h4 {
  margin: 5%;
}

/* .card-image {
  position: relative; Necesario para posicionar el loader
  flex: 2;
  padding: 5px;
}

.card-image .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; Ajustá el tamaño si es necesario
  z-index: 10; Asegura que el loader esté por encima de la imagen
}

.card-image img {
  display: block;
  width: 100%;
  height: 34vh;
  object-fit: cover;
  border-radius: 5%;
} */
