.nav-container {
  /* background-color: #80ddff; */
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  display: flex;
}

.img-container img {
  width: 4rem;
  margin: 10px;
}

.link-container {
  display: flex;
  width: 16rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 30vw;
}

.link-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 120%;
  white-space: nowrap;
}
